*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* Variabili */
:root{
    --bg-header: #FF6900;
    --bg-footer: #1a1a1a;
}
 
/* flelx utilities */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}
.between{
    justify-content: space-between;
}

.align-cnt{
    align-items: center;
}

/* header */
header{
    display: block;
    background-color: var(--bg-header);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

#hd-cont{
    max-width: 900px;
    margin: auto;
}

ul{

    list-style: none;
}

a{
    color: white;
    padding: 5px;
    text-decoration: none;
}
header img{
    height: 50px;
}

#user-a > a{
    margin: 5px;
}

/* main */

#row{
    max-width: 900px;
    margin:  100px auto 25px;
}

.container{
    width: 33%;
    height: 500px;
    margin: 25px 0;
}

.img{
    position: relative;
}

div > img{
    width: 100%;
}
.primary-img{
    position: relative;
    z-index: 5;
}
.img2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.tag{
    color: white;
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
}

#sale{
    background-color: red;
    padding: 2px;
}

#sustainability{
    background-color: green;
    padding: 2px;
}

#heart{
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 20;
    top: 15px;
    right: 0px;
    padding: 5px 10px;
}

figure{
    height: 15px;
    line-height: 15px;
}

h4{
    height: 25px;
    text-transform: uppercase;
}

p{
    height: 15px;
    color: red;
}

p span{
    color: black;
    text-decoration: line-through ;
}

/* hover */
.img:hover .img2{
    z-index: 10;
}

/* Footer */
footer{
    background-color: var(--bg-footer);
}

#ft-cont{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px 0;
}

#left-ft a{
    font-size: smaller;
}